*{
    margin: 0;
    padding: 0;
}

.image1{
    width: 65%;
    position: relative;
    top: 60px;
    left: 2%;
    
}

.text1{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -765px;
    left: 6%;
    gap: 70px;
}

.hr1{
    position: absolute;
    top: 6%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 1px;
    background-color: rgb(24, 2, 2);
}
.hr2{
    position: relative;
    top: -700px;
    width: 48%;
    left: 50%;
    height: 778px;
    padding: 2px;
    border: 2px solid;
    border-image: linear-gradient(
        to right,
        red 50%,
        blue 50%
    ) 1;
    

}
.hr3{
    position: relative;
    top:-1370px;
    width:5%;  
    height: 85px;
    left: 67%;
    padding:17px;
    border: 1px solid rgb(197, 16, 16);
    border-radius: 70px;
    background-color: rgb(197, 16, 16);

}

.hr4{
    position: relative;
    top:-1390px;
    width:5%;  
    height: 85px;
    left: 70%;
    padding:17px;
    border: 1px solid rgb(28, 212, 59);
    border-radius: 70px;
    background-color: rgb(9, 180, 61);

}
.hr5{

    position: relative;
    top:-1610px;
    width:5%;  
    height: 85px;
    left: 73.9%;
    padding:17px;
    border: 2px solid rgb(12, 15, 218);
    border-radius: 70px;
    background-color: rgb(14, 95, 218);

    
}

.instruction{
    position: relative;
    top: -1690px;
    left: 65%;
}
.hr6{
    position: relative;
    top: -950px;
    width: 90%;
    left: 10%;
    border-image: linear-gradient(
        to right,
        red 50%,
        blue 50%
    ) 1;
    
}
.hr7{
    width: 0%;
    height: 0;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 188px solid red;
    position: relative;
    top: -1100px;
}

.hr8{
    position: relative;
    border: 2px solid rgb(243, 36, 36);
    top: -1240px;
    width: 40%;
    left: 28.9%;
    padding: 15px;
    height: 700px;
    border-radius: 50px;
    
}

.instruction p {
    position: relative;
    top:500px;
    left: -17%;
}

.hr9{
    position: relative;
    top: -1840px;
    width: 30%;
    left: 35%;
    padding: 23px;
    border: 1px solid rgb(11, 52, 231);
    border-radius: 10px;
    
}

.hr10 {
    position: relative;
    top: -1760px;
    width: 30%;
    left: 35%;
    padding: 23px;
    border: 1px solid rgb(187, 2, 11);
    border-radius: 10px;
}
.hr11{

    position: relative;
    top: -1680px;
    width: 30%;
    left: 35%;
    padding: 23px;
    border: 1px solid rgb(14, 2, 187);
    border-radius: 10px;

}

.formulaire h4 {
    position: relative;
    top: -1970px;
    left: 45%;
    opacity: 0.2;

}

.formulaire h3{
    position: relative;
    top: -1870px;
    left: 45%;
    opacity: 0.2;

}

.formulaire h5{
    position: relative;
    top: -1770px;
    left: 45%;
    opacity: 0.2;
    font-size: 17px;
}
.hr12 {
    position: relative;
    top:-1718px;
    width:3%;  
    height: 62px;
    left: 43%;
    padding:17px;
    border: 1px solid rgb(197, 16, 16);
    border-radius: 70px;
    background-color: rgb(197, 16, 16);

}
.hr13 {
    position: relative;
    top:-1738px;
    width:3%;  
    height: 62px;
    left: 45%;
    padding:17px;
    border: 1px solid rgb(37, 197, 16);
    border-radius: 70px;
    background-color: rgb(12, 201, 12);

}
.hr14 {
    position: relative;
    top:-1910px;
    width:3%;  
    height: 62px;
    left: 48%;
    padding:17px;
    border: 1px solid rgb(16, 45, 207);
    border-radius: 70px;
    background-color: rgb(45, 11, 199);

}
.hr15 {

    position:relative;
    top:-1820px;
    width:12%;
    left: 40%;
    padding: 22px;
    background-color: rgb(233, 36, 10);
    border:none;
    
}

.texte {
    position : relative;
    top: -1860px;
    left: 45%;
    font-size: 12px;
}